.feedback-container {
  display: flex;
  height: fit-content;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 999;
}

.feedback-btn-base {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.feedback-btn {
  background-color: #3977fd;
  height: 30px;
  width: 30px;
  z-index: 999;
}

.feedback-btn:hover {
  background-color: #6294ff;
}

.feedback-btn-option {
  z-index: 998;
  position: absolute;
  overflow: hidden;
  left: -20px;
  opacity: 0;
  color: #ecf2ff;
  width: 110px;
  height: 30px;
}

#anxiety-btn {
  background-color: #f8bb6d;
}

#anxiety-btn:hover {
  background-color: #ffcb87;
}

#depression-btn {
  background-color: #f67281;
}

#depression-btn:hover {
  background-color: #fa8896;
}
