@tailwind base;
@tailwind components;
@tailwind utilities;

/* 从下翻上来出现的动画 */
.flip-in-hor-top {
  animation: flip-in-hor-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes flip-in-hor-top {
  0% {
    transform: rotateX(-80deg);
    opacity: 0;
    display: none;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
    display: block;
  }
}

/* 从上翻下来出现的动画 */
.flip-in-hor-bottom {
  animation: flip-in-hor-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.05s
    both;
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
    display: none;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
    display: block;
  }
}

/* 从下往上翻出去的动画 */
.flip-out-hor-top {
  animation: flip-out-hor-top 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes flip-out-hor-top {
  0% {
    transform: rotateX(0);
    opacity: 1;
    display: block;
  }
  100% {
    transform: rotateX(70deg);
    opacity: 0;
    display: none;
  }
}

/* 从上往下翻出去的动画 */
.flip-out-hor-bottom {
  animation: flip-out-hor-bottom 0.15s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
}

@keyframes flip-out-hor-bottom {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    transform: rotateX(-70deg);
    opacity: 0;
  }
}

/* 打勾动画 */
input[type='checkbox']:checked ~ h2 {
  animation: 0.3s title ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.circle {
  stroke-dasharray: 1194;
  stroke-dashoffset: 1194;
}

input[type='checkbox']:checked + svg .circle {
  animation: circle 0.9s ease-in-out;
  animation-fill-mode: forwards;
}

.tick {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
}

input[type='checkbox']:checked + svg .tick {
  animation: tick 0.5s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.65s;
}

@keyframes circle {
  from {
    stroke-dashoffset: 1194;
  }
  to {
    stroke-dashoffset: 2388;
  }
}

@keyframes tick {
  from {
    stroke-dashoffset: 350;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
